src/conf/xml-resources/web-service-references/ResponseLogic/wsdl/localhost_8080/ServiciosProyecto1/ResponseLogic.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://negocio.input.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://negocio.input.org/">

<xs:element name="adios" type="tns:adios"/>

<xs:element name="adiosResponse" type="tns:adiosResponse"/>

<xs:element name="checkPassword" type="tns:checkPassword"/>

<xs:element name="checkPasswordResponse" type="tns:checkPasswordResponse"/>

<xs:element name="getAvataresUsuario" type="tns:getAvataresUsuario"/>

<xs:element name="getAvataresUsuarioResponse" type="tns:getAvataresUsuarioResponse"/>

<xs:element name="getCarreras" type="tns:getCarreras"/>

<xs:element name="getCarrerasResponse" type="tns:getCarrerasResponse"/>

<xs:element name="getCurso" type="tns:getCurso"/>

<xs:element name="getCursoResponse" type="tns:getCursoResponse"/>

<xs:element name="getDificultades" type="tns:getDificultades"/>

<xs:element name="getDificultadesResponse" type="tns:getDificultadesResponse"/>

<xs:element name="getExperiencia" type="tns:getExperiencia"/>

<xs:element name="getExperienciaResponse" type="tns:getExperienciaResponse"/>

<xs:element name="getItemUsuario" type="tns:getItemUsuario"/>

<xs:element name="getItemUsuarioLibre" type="tns:getItemUsuarioLibre"/>

<xs:element name="getItemUsuarioLibreResponse" type="tns:getItemUsuarioLibreResponse"/>

<xs:element name="getItemUsuarioResponse" type="tns:getItemUsuarioResponse"/>

<xs:element name="hola" type="tns:hola"/>

<xs:element name="holaResponse" type="tns:holaResponse"/>

<xs:element name="numAvatares" type="tns:numAvatares"/>

<xs:element name="numAvataresResponse" type="tns:numAvataresResponse"/>

<xs:complexType name="hola">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="holaResponse">
<xs:sequence>
<xs:element name="return" type="tns:pregunta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pregunta">
<xs:sequence>
<xs:element name="curso" type="xs:int"/>
<xs:element name="dificultad" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="question" type="xs:string" minOccurs="0"/>
<xs:element name="respuestas" type="tns:respuesta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="tiempo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="respuesta">
<xs:sequence>
<xs:element name="correcta" type="xs:boolean"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="res" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExperiencia">
<xs:sequence>
<xs:element name="id_usuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExperienciaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDificultades">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDificultadesResponse">
<xs:sequence>
<xs:element name="return" type="tns:dificultad" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dificultad">
<xs:sequence>
<xs:element name="experiencia" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="adiosResponse">
<xs:sequence>
<xs:element name="return" type="tns:respuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarreras">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarrerasResponse">
<xs:sequence>
<xs:element name="return" type="tns:carrera" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carrera">
<xs:sequence>
<xs:element name="codigoCarrera" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkPassword">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkPasswordResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="exp" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="rol" type="xs:int"/>
<xs:element name="user" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemUsuarioLibre">
<xs:sequence>
<xs:element name="idUsuer" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemUsuarioLibreResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="efectividad" type="xs:int"/>
<xs:element name="gana" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="idItem" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pierde" type="xs:int"/>
<xs:element name="rareza" type="xs:int"/>
<xs:element name="unUsuo" type="xs:boolean"/>
<xs:element name="utilizado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="numAvatares">
<xs:sequence>
<xs:element name="id_usuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="numAvataresResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCurso">
<xs:sequence>
<xs:element name="carrera" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCursoResponse">
<xs:sequence>
<xs:element name="return" type="tns:curso" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="curso">
<xs:sequence>
<xs:element name="activo" type="xs:boolean"/>
<xs:element name="carrera" type="xs:int"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemUsuario">
<xs:sequence>
<xs:element name="idUsuer" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvataresUsuario">
<xs:sequence>
<xs:element name="idUser" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvataresUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:avatar" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avatar">
<xs:sequence>
<xs:element name="dos" type="tns:item" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="uno" type="tns:item" minOccurs="0"/>
<xs:element name="usuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>