src/conf/xml-resources/web-service-references/ResponseLogic/wsdl/localhost_8080/ServiciosProyecto1/ResponseLogic.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://negocio.input.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://negocio.input.org/">

<xs:element name="adios" type="tns:adios"/>

<xs:element name="adiosResponse" type="tns:adiosResponse"/>

<xs:element name="getCarreras" type="tns:getCarreras"/>

<xs:element name="getCarrerasResponse" type="tns:getCarrerasResponse"/>

<xs:element name="hola" type="tns:hola"/>

<xs:element name="holaResponse" type="tns:holaResponse"/>

<xs:complexType name="hola">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="holaResponse">
<xs:sequence>
<xs:element name="return" type="tns:pregunta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pregunta">
<xs:sequence>
<xs:element name="curso" type="xs:int"/>
<xs:element name="dificultad" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="question" type="xs:string" minOccurs="0"/>
<xs:element name="respuestas" type="tns:respuesta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="tiempo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="respuesta">
<xs:sequence>
<xs:element name="correcta" type="xs:boolean"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="res" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="adiosResponse">
<xs:sequence>
<xs:element name="return" type="tns:respuesta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarreras">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarrerasResponse">
<xs:sequence>
<xs:element name="return" type="tns:carrera" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carrera">
<xs:sequence>
<xs:element name="codigoCarrera" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>