web/WEB-INF/wsdl/localhost_8080/ServiciosProyecto1/GameLogic.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://negocio.input.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://negocio.input.org/" name="GameLogic">
<types>
<xsd:schema>
<xsd:import namespace="http://negocio.input.org/" schemaLocation="http://localhost:8080/ServiciosProyecto1/GameLogic?xsd=1"/>
</xsd:schema>
</types>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="addItemUsuario">
<part name="parameters" element="tns:addItemUsuario"/>
</message>
<message name="addItemUsuarioResponse">
<part name="parameters" element="tns:addItemUsuarioResponse"/>
</message>
<message name="nuevaCarrera">
<part name="parameters" element="tns:nuevaCarrera"/>
</message>
<message name="nuevaCarreraResponse">
<part name="parameters" element="tns:nuevaCarreraResponse"/>
</message>
<message name="addCurso">
<part name="parameters" element="tns:addCurso"/>
</message>
<message name="addCursoResponse">
<part name="parameters" element="tns:addCursoResponse"/>
</message>
<message name="addPregunta">
<part name="parameters" element="tns:addPregunta"/>
</message>
<message name="addPreguntaResponse">
<part name="parameters" element="tns:addPreguntaResponse"/>
</message>
<message name="addItem">
<part name="parameters" element="tns:addItem"/>
</message>
<message name="addItemResponse">
<part name="parameters" element="tns:addItemResponse"/>
</message>
<message name="addAvatar">
<part name="parameters" element="tns:addAvatar"/>
</message>
<message name="addAvatarResponse">
<part name="parameters" element="tns:addAvatarResponse"/>
</message>
<message name="equiparItem">
<part name="parameters" element="tns:equiparItem"/>
</message>
<message name="equiparItemResponse">
<part name="parameters" element="tns:equiparItemResponse"/>
</message>
<message name="addDificultad">
<part name="parameters" element="tns:addDificultad"/>
</message>
<message name="addDificultadResponse">
<part name="parameters" element="tns:addDificultadResponse"/>
</message>
<message name="getCarrera">
<part name="parameters" element="tns:getCarrera"/>
</message>
<message name="getCarreraResponse">
<part name="parameters" element="tns:getCarreraResponse"/>
</message>
<portType name="GameLogic">
<operation name="addUser">
<input wsam:Action="http://negocio.input.org/GameLogic/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://negocio.input.org/GameLogic/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="addItemUsuario">
<input wsam:Action="http://negocio.input.org/GameLogic/addItemUsuarioRequest" message="tns:addItemUsuario"/>
<output wsam:Action="http://negocio.input.org/GameLogic/addItemUsuarioResponse" message="tns:addItemUsuarioResponse"/>
</operation>
<operation name="nuevaCarrera">
<input wsam:Action="http://negocio.input.org/GameLogic/nuevaCarreraRequest" message="tns:nuevaCarrera"/>
<output wsam:Action="http://negocio.input.org/GameLogic/nuevaCarreraResponse" message="tns:nuevaCarreraResponse"/>
</operation>
<operation name="addCurso">
<input wsam:Action="http://negocio.input.org/GameLogic/addCursoRequest" message="tns:addCurso"/>
<output wsam:Action="http://negocio.input.org/GameLogic/addCursoResponse" message="tns:addCursoResponse"/>
</operation>
<operation name="addPregunta">
<input wsam:Action="http://negocio.input.org/GameLogic/addPreguntaRequest" message="tns:addPregunta"/>
<output wsam:Action="http://negocio.input.org/GameLogic/addPreguntaResponse" message="tns:addPreguntaResponse"/>
</operation>
<operation name="addItem">
<input wsam:Action="http://negocio.input.org/GameLogic/addItemRequest" message="tns:addItem"/>
<output wsam:Action="http://negocio.input.org/GameLogic/addItemResponse" message="tns:addItemResponse"/>
</operation>
<operation name="addAvatar">
<input wsam:Action="http://negocio.input.org/GameLogic/addAvatarRequest" message="tns:addAvatar"/>
<output wsam:Action="http://negocio.input.org/GameLogic/addAvatarResponse" message="tns:addAvatarResponse"/>
</operation>
<operation name="equiparItem">
<input wsam:Action="http://negocio.input.org/GameLogic/equiparItemRequest" message="tns:equiparItem"/>
<output wsam:Action="http://negocio.input.org/GameLogic/equiparItemResponse" message="tns:equiparItemResponse"/>
</operation>
<operation name="addDificultad">
<input wsam:Action="http://negocio.input.org/GameLogic/addDificultadRequest" message="tns:addDificultad"/>
<output wsam:Action="http://negocio.input.org/GameLogic/addDificultadResponse" message="tns:addDificultadResponse"/>
</operation>
<operation name="getCarrera">
<input wsam:Action="http://negocio.input.org/GameLogic/getCarreraRequest" message="tns:getCarrera"/>
<output wsam:Action="http://negocio.input.org/GameLogic/getCarreraResponse" message="tns:getCarreraResponse"/>
</operation>
</portType>
<binding name="GameLogicPortBinding" type="tns:GameLogic">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addItemUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevaCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPregunta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAvatar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="equiparItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDificultad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GameLogic">
<port name="GameLogicPort" binding="tns:GameLogicPortBinding">
<soap:address location="http://localhost:8080/ServiciosProyecto1/GameLogic"/>
</port>
</service>
</definitions>